<!DOCTYPE html>
<html lang="en"> 
  <head>
    <%= File.read 'preamble.html' %>
  </head> 

  <body>
    <%= File.read 'header.html' %>

    <div class="container">
      <h2 id="esaas-in-the-news">ESaaS in the news</h2>
      <ul>
        <li>Software Development Times: “<a
                                           href="http://sdtimes.com/making-computer-science-class-more-like-the-real-world">Making
            computer science class more like the real world</a>”, August 2015</li>
        <li><a
              href="http://www.architecturecast.net/2014/02/refactoring-how-software-engineering-is.html">Architectural
            Concepts podcast</a></li>
        <li><a href="http://Progress.com">Progress.com</a> gave samples of some
          chapters to its “book club”</li>
        <li><a
              href="http://www.securedocs.com/blog/2012/05/free-software-engineering-course-educates-over-10000-students-using-cloud-computing/">Blog
            post</a> by Klaus Schauser, Founder &amp; Chief Strategist of AppFolio,
          creator of Citrix GoToMeeting and GoToMyPC</li>
        <li>Video of National Academy of Engineering <a
                                                       href="http://engineering.stanford.edu/news/online-learning-will-technology-transform-higher-education">panel
            on Higher Education and MOOCs</a> on March 5, 2013 at Stanford
          University, with David Patterson </li>
        <li>Armando Fox on the PBS NewsHour 1/8/13: <a
                                                      href="http://www.pbs.org/newshour/bb/education/jan-june13/online_01-08.html">How
            Free Online Courses are Changing the Traditional Liberal Arts
            Education</a></li>
      </ul>
      <h2 id="questions-about-the-book-itself">Questions about the book
        itself</h2>
      <ul>
        <li>The <a href="/site/longlastingsoftware/book-faq">FAQ</a> answers
          most questions about the book logistics.</li>
        <li>See the <a href="/site/longlastingsoftware/table-of-contents">table
            of contents</a> of the most recent edition</li>
        <li>Free Sample from <a
                               href="http://www.amazon.com/dp/B006WU5G4C">Amazon</a> (view in any
          browser)</li>
        <li><a
              href="https://docs.google.com/document/d/1T_gujSWImiA9A-mnr-rr2VQFhjVmkKy9Kfd8E3j7gzA/edit">Readers’
            comments</a> on the Alpha and Beta Editions </li>
        <li>Academic author colleagues: we have written about <a
                                                                href="https://docs.google.com/viewer?a=v&amp;pid=sites&amp;srcid=ZGVmYXVsdGRvbWFpbnxsb25nbGFzdGluZ3NvZnR3YXJlfGd4OjdjYmU3ZTI2MTc4NjI0NGU">our
            experience self-publishing</a>.</li>
      </ul>
      <h2
        id="articles-about-the-development-and-use-of-the-book-mooc-courses">Articles
        about the development and use of the book, MOOC, &amp; courses</h2>
      <ul>
        <li><p><a
                 href="http://cacm.acm.org/magazines/2012/5/148610-crossing-the-software-education-chasm/fulltext">Crossing
              the Software Education Chasm</a> by Armando Fox &amp; David Patterson
            (<em>Communications of the ACM</em>, May 2012) explains how &amp; why we
            created the course.  Includes very informal <a
                                                          href="http://vimeo.com/saasbook/cacm">short video</a> discussing the
            tools used in the MOOC &amp; SPOC, including autograders.</p></li>
        <li><p><a
                 href="http://www.eecs.berkeley.edu/Pubs/TechRpts/2014/EECS-2014-17.html">Software
              Engineering Curriculum Technology Transfer: Lessons Learned from MOOCs
              and SPOCs</a>.  Armando Fox, David Patterson, Sam Joseph (Hawaii Pacific
            Univ.), Kristen Walcott-Justice (U. Colorado at Colorado Springs),
            Richard Ilson (UNC Charlotte), Rose Williams (Binghamton U.)  UC
            Berkeley Technical Report EECS-2014-17.</p></li>
        <li><p>[Longer version, which includes commentary about the role of
            e-books] <a
                       href="https://docs.google.com/viewer?a=v&amp;pid=sites&amp;srcid=ZGVmYXVsdGRvbWFpbnxsb25nbGFzdGluZ3NvZnR3YXJlfGd4OjczN2ZjYmFmNzA5OWI2M2E">Software
              Engineering Curriculum Technology Transfer: Lessons Learned from
              E-books, MOOCs, and SPOCs</a> by Armando Fox and David Patterson, and
            including the experiences of instructors at four other universities
            using this course as a SPOC.  Presented at <a
                                                         href="http://www.cs.pomona.edu/splashe/SPLASH-E2013/SPLASH-E_2013.html">SPLASH-E
              2013</a>.</p></li>
        <li><p><a
                 href="http://cacm.acm.org/magazines/2013/12/169931-from-moocs-to-spocs/fulltext">From
              MOOCs to SPOCs: How MOOCs Can Strengthen Academia</a> by Armando Fox.
             <em>Communications of the ACM</em> 56(12), Viewpoint column.  Explains
            how the SPOC model overcomes some of the problems with MOOCs and
            presents new opportunities for classroom instructors.</p></li>
        <li><p><a
                 href="https://docs.google.com/viewer?a=v&amp;pid=sites&amp;srcid=ZGVmYXVsdGRvbWFpbnxsb25nbGFzdGluZ3NvZnR3YXJlfGd4OjdmMThkMWVkNDgzOWQwMDM">From
              MOOCs to SPOCs</a>, an extended version of the SPOC argument that is
            slated to appear an upcoming <a
                                           href="http://ubiquity.acm.org/symposia.cfm">ACM Ubiquity
              Symposium</a> on MOOCs.</p></li>
      </ul>
      <h2 id="esaas-and-the-acmieee-cs-2013-curriculum-guidelines">ESaaS and
        the ACM/IEEE-CS 2013 Curriculum Guidelines</h2>
      <ul>
        <li><a href="IEEESWEOpEdSept2013.pdf">Is the new Software Engineering
            curriculum agile?</a> (IEEE Software, Sept./Oct. 2013)  Investigates
          whether proposed new ACM/IEEE curriculum standard allows instructors to
          use Agile or not.   [Copyright 2013 IEEE.  This non-final version
          appears here with permission.]</li>
        <li>This <strong><a
                           href="https://docs.google.com/viewer?a=v&amp;pid=sites&amp;srcid=ZGVmYXVsdGRvbWFpbnxsb25nbGFzdGluZ3NvZnR3YXJlfGd4OjJlMmFlOWE4NGQ0OGRlNmI">course
              exemplar</a></strong> shows how our <a
                                                    href="http://sites.google.com/site/ucbsaas">UC Berkeley CS
            169</a> course, which uses the ESaaS textbook and the CS 169.1x SPOC,
          fulfills the curriculum guidelines.</li>
      </ul>
      <h2
        id="professional-presentations-and-tutorials-for-instructors">Professional
        presentations and tutorials for instructors</h2>
      <ul>
        <li><a
              href="https://drive.google.com/open?id=0BxKnkWLvWBrTTEF4X0JWMm9xNDA">Presentation
            at ACM India 2017</a>  on expanding the ESaaS ecosystem (también <a
                                                                               href="https://drive.google.com/open?id=0BxKnkWLvWBrTSEVlVXh0aXgta0U">presentada
            en español</a> en MOOCmaker 2017, Guatemala)</li>
        <li><a href="about/ewa-2014-presentation.html">Presentation at East-West
            Alliance 2014</a> meeting</li>
        <li><a href="instructors/tutorials.html">Tutorial for instructors</a> at
          ICSE 2014 in Hyderabad, India</li>
        <li><a href="about/presentation.html">Presentation</a> given at various
          universities in Fall 2013/Winter 2014 about our experience with ESaaS,
          MOOCs, and SPOCs</li>
        <li><a href="cseet2013.html">Presentation</a> at 26th Conference on
          Software Engineering Education &amp; Training (CSEET 2013)</li>
        <li><a href="http://www.youtube.com/watch?v=Bx8PL5sMD6o">Video of short
            talk</a> by David Patterson on MOOCs Sept 2012</li>
      </ul>
    </div>
  </body>
</html>
