.item {
    a { text-decoration: none; }
    border: 1px solid transparent;
    border-radius: 25px;
    &:hover {
        border: 1px solid $theme-border-color;
    }        
}

.author-pic {
    border-radius: 50%;
}

.key-points-list {
    a {  text-decoration: none; }
    li:hover {   border: 1px solid $theme-border-color; }
}
